.imageOneHebergement{


    background: url('../../../public/assets/images/lodgeview.jpg')center/cover  ;  
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
}

.imageTwoHebergement{


    background: url('../../../public/assets/images/room.jpg')center/contain;  
    background-repeat: no-repeat;
    height: 350px;
    width: 100%
}
.imageThreeHebergement{


    background: url('../../../public/assets/images/3.jpg')center/cover;  
    height: 350px;
    width: 100%
}
.imageForHebergement{


    background: url('../../../public/assets/images/1.jpg')center/cover;  
    height: 350px;
    width: 100%
}
.imageFiveHebergement{


    background: url('../../../public/assets/images/jacuzzi2.jpg')center/cover;
    height: 350px;
    width: 100%
}
.imageSixHebergement{


    background: url('../../../public/assets/images/cuisine.jpg')center/cover;  
    height: 350px;
    width: 100%
}
.imageSevenHebergement{


    background: url('../../../public/assets/images/suite.jpg')center/cover;  
    height: 350px;
    width: 100%
}




.hebergement{
  
    background: linear-gradient(to right, #134e5e, #71b280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


.herbergementContent{


    text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    //   font-size: 1.4rem;    

    color: white;

.wrapperImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    
}




   p{
       padding: 1rem 1rem;
       margin: 1rem 0rem 0 0;
       background: linear-gradient(90deg, rgba(82,79,79,1) 22%, rgba(60,58,58,1) 85%);
       background: rgb(27, 26, 26);
   }

  
    .flexImages{
    
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 800px;
        gap: 1rem;
    }

    .no-smoking-span{
        display: flex;
        align-items: center;
        border: 3px solid black;
        padding: 0.5rem;
        border-radius: 25px;
        display: flex;
        gap: 1rem;
        margin-top: 0.5rem;
        color: wheat;
        

    }
        .no-smoking{
            display: flex;
            align-items: center;
        background: url('../../../public/assets/images/no-smoking.png')center/cover;  
        height: 30px;
        width: 30px;
     
   
       
       }

       
    @media screen and ( min-width : 800px )
    {
.herbegement{
    margin: 0rem 3rem;
    background: linear-gradient(90deg, rgba(40,172,182,1) 10%, rgba(40,182,104,1) 22%, rgba(40,182,104,1) 78%, rgba(40,172,182,1) 90%);

}

.wrapperImage{
    // background:url('../../../public/assets/images/bg.jpg');
    border: 3px solid black;
     
      display: flex;
      justify-content: center;
      width: 80%;
      box-shadow: 8px 5px 16px 4px #000000;
  }

  p{
    padding: 1rem 3rem;
    margin: 1rem 0 0 0;
    color : wheat;
font-size: 1.2rem;
    background: linear-gradient(90deg, rgba(82,79,79,1) 22%, rgba(60,58,58,1) 85%);
    
    width: 100%;
  
}   
        .flexImages{

            width: 100%;
            // height: 800px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
       
        
        }


            .imageOneHebergement,.imageTwoHebergement,.imageThreeHebergement,.imageForHebergement,.imageFiveHebergement,.imageFiveHebergement,.imageSixHebergement,.imageSevenHebergement{
                background-repeat: no-repeat;
                // border-radius: 24px;
  background-size: contain;
  height: 900px;
  width: 100%;

        }
        .imageOneHebergement{
    
            height: 600px;
            // width: 80%
        }
        .imageTwoHebergement{
    
    
    
            height: 602px;
            // width: 80%
        }
        .imageThreeHebergement{
    
    
        
            height: 798px;
            // width: 80%
        }
        .imageForHebergement{
    
            height: 602px;
            // width: 80%
        }
        .imageFiveHebergement{
    
            height: 1080px;
            // width: 80%
        }
        .imageSixHebergement{
    
    
        
            height: 681px;
            // width: 80%
        }
        .imageSevenHebergement{
    
            height: 681px;
            // width: 80%
        }
     
    }
}}