.logdeContent{
   color : white;
 text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
  overflow-x: hidden;
  background: linear-gradient(to right, #134e5e, #71b280);


  h4{
      color: white;
   
  }

  h2{
    background: rgb(27, 26, 26);
    padding: 1rem;
    width: 100%;
  }

p{
    background: linear-gradient(90deg, rgb(27, 26, 26) 50%, rgba(60,58,58,1) );
    background: rgb(27, 26, 26);
    color : wheat;
     padding: 2rem;
     width: 100%;
}


.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: red;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    &:hover {
      z-index: 1;
    }
  }
.lodgeShadows{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
// background: rgba(0, 0, 0, 0.315);
gap: 1rem;
// font-size: 1.2rem;
// padding: 1rem;
color: white;
}

.lodgeH1{
margin-top: 1rem;

}

.imageOneLodge{



    background: url('../../../public/assets/images/piscinenight.jpg')center/cover;  
    height: 400px;
    width: 100%;
    border: 3px solid black;

}
.imageTwoLodge{
    background: url('../../../public/assets/images/lodgeviewfar.jpg')center/cover;

  height: 400px;
  width: 100%
}
.imageThreeLodge{
    background: url('../../../public/assets/images/lodgeview.jpg')center/cover;

  height: 400px;
  width: 100%
}


.flexImages{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    gap: 1rem;
   

}
.lodgeWhereTofindUs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // padding: 1rem;
}



@media screen and ( min-width : 800px )
{
.lodgeShadows{
    // padding: 1rem;
}
    .flexImages{

        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: row;
        width: 80%;
        gap: 1rem;
    }
    .imageOneLodge{

        height: 800px;
        width: 80%

    }
    .imageTwoLodge{


    
        height: 800px;
        width: 80%
    }
    .imageThreeLodge{


    
        height: 800px;
        width: 80%
    }
}



}
