.reservationContent{
    width: 100%;
    margin: 2rem auto;
    background: linear-gradient(to right, #134e5e, #71b280); 
overflow-x: hidden;

}
.desktopRenderDays{
    display: block;
}

.mobileRenderDays{
    display: none;
}

.iframeDiv{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-left: 13%;

}

.thumb{
    width: 170px!important;
}
@media screen and(max-width:800px) {
    .reservationContent{
        width: 100%;
        margin: 2rem auto;
    }
    
    
    .mobileRenderDays{
        display: block;
    }
    
    
    .desktopRenderDays{
        display: none;
    }

    .iframeDiv{

        margin-left: 0%
    
    }
}