.reservationContent{
    width: 100%;
    margin:  auto;
    background: $background-linear;
overflow-x: hidden;

h2{
    color: $white;
    font-family: 'Kaushan Script', cursive;
 text-align: center;
 margin: 0.5rem;

 text-shadow: white 0px 0px 15px;
 
}

}
.desktopRenderDays{
    display: block;
}

.mobileRenderDays{
    display: none;
}

iframe{
 
    border: 2px solid black;
    padding: 1rem;
    // box-shadow:  white 0px 0px 5px;
}

.iframeDiv{

    margin: 0 auto;
    display: flex;
flex-direction: column;
    align-items: center;
 gap: 1rem;


}


.AnchorToHebergement{
    display: flex;
    flex-direction: column;
width: 100%;
justify-content: center;
gap: 0.8rem;
    align-items: center;
 
    padding: 1rem;
    // // background : #645e52;
    // border-radius: 12px;
    // border: 1px solid $white;

    h3{
        font-family: 'Roboto', cursive;

        font-size: 1.6em;
        text-shadow: black 0px 0px 15px;
     color: $white;
     
    }
    a{
        font-size: 1.8rem;
        font-family: 'Kaushan Script', cursive;
        // text-decoration: none;
        text-shadow: white 0px 0px 10px;

        &:hover{
color: black;
transform: scale(1.1);
        }
    }
}


@media screen and(max-width:800px) {
    .reservationContent{
        width: 100%;
        margin: 0rem auto;
    }
    
    
    .mobileRenderDays{
        display: block;
    }
    
    
    .desktopRenderDays{
        display: none;
    }

    .iframeDiv{

        margin-left: 0%
        
    }

    .AnchorToHebergement{
        flex-direction: column;
      
    }

    div.carousel-root > div:nth-child(2){
        display: none;
    }
      .carousel .slider-wrapper {
          width: 99%;
          transition: ease-in-out;
      }
  
      .carousel-root{
          border: none;
          box-shadow: none;
          background: none;
      }
}

