.restauration{


background: linear-gradient(to bottom, #134e5e, #71b280); 

    .restaurationContent{

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
     color: $white;

     h1{
         color: $white;
     }
  article{
     width: 100%;
    //  border:rgb(162, 211, 27) 2px solid;
    //  background : black;

    //  box-shadow: rgb(162, 211, 27) 2px -2px 20px;
     margin: 0 auto;
  }

  .blueText{
      color :#61dafb
  }

  ul li::before {
    content: "\2022";
    color:  rgb(162, 211, 27);
    font-weight: bold;
    font-size: 1.3em;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
   
  }
     
     li{
text-align: left;
         padding: 0.5rem;
         margin-left: 3rem;
         list-style: none;
         

     
        

         ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
        
     }

     p{
         padding: 0.5rem;
     }

     b{
        color : rgb(162, 211, 27);
    }

    .imageOneRestauration{
        background: url('../../../public/assets/images/restauration2.jpg')center/cover;  
        height: 350px;
        width: 100%;
  
    }
    .imageTwoRestauration{
        background: url('../../../public/assets/images/restaurant4.jpg')center/cover;  
        height: 350px;
        width: 100%;
  
    }
    .imageThreeRestauration{
        background: url('../../../public/assets/images/restaurant5.jpg')center/cover;  
        height: 350px;
        width: 100%;

    }
    .imageSixRestauration{
        background: url('../../../public/assets/images/restaurant6.jpg')center/cover;  
        height: 350px;
        width: 100%;
        display: none;

    }
    .imageSixRestaurationMobile{
        background: url('../../../public/assets/images/restaurant6.jpg')center/cover;  
        height: 350px;
        width: 100%;
        display: block;

    }
    .restaurationDivider{
  
        display: flex;
        flex-direction: column;
        gap: 0.2em
    }

    @media screen and ( min-width : 800px )
{
.restaurationDivider{
    display: flex;
    flex-direction:row ;
    gap : 0;
    margin: 1rem


}


article{
    width: 80%;
}


    .imageOneRestauration{
        height: 420px;


    }
    .imageTwoRestauration{
    

        height: 420px;

    }
    .imageThreeRestauration{
    

        height: 420px;
     
   
        margin:auto
    }
    .imageSixRestauration{
    
        display: block;
        height: 420px;
     
   
        margin:auto
    }

    .imageSixRestaurationMobile{
        display: none;
    }

}
}


}
