// @font-face {
//     font-family: "font-1";
//     src: url(../assets/fonts/JosefinSans-Medium.ttf);
//   }
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
  
  $font-1: 'Kaushan Script', cursive;
  $color-1: #61dafb;
  $black:  #282c34;
  $white: rgb(243, 243, 243);
  $background-linear :  linear-gradient(to right, #134e5e, #71b280);

 
  
  @mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }

  h1{
    @include verticalCenter;
    margin: 1rem auto;
    padding-bottom: 0.5rem;
    color: $white;
    border-bottom: 5px solid   $white;
    width: 80%;
    font-family: 'Kaushan Script', cursive;
    
  }
  

  a{
      color: $white;
  }
    body::before {
      content: '';

  // background: $background-linear;
 
  position: absolute;

  left: 0;
  width: 100%; 
  position:fixed;
  top:0px;
  bottom:0px;
  width:100%;
  // overflow-y:auto;
  overflow: overlay;
  opacity: 0.9; 
  z-index: -1;
  }

