.calendarChildren{
  
    .body{
       display: flex;

       .uniteName{

           width: 10%;
           border-bottom: 1px solid black;
           display: flex;
           align-items: center;
           justify-content: center;
           text-align: center;
       }
    }


    .villaCalendar{
        background-color: black;
    }

    a{
        color: black;
        text-decoration: none;
    }

 

}
@media screen and (max-width: 800px){
    .uniteName{
      
       font-size: 0.5em;
    }
    
}