.fullVilla{
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-template-areas:
  "1 2";
  
}

.villaDays{
  grid-area: '2';
}

.villa{
  grid-area: '1';
  display: flex;
  justify-content: center;
  align-items: center;

}